.boton-busqueda, .boton-agregar, .crear-cuenta {
    display: block ;
    margin-bottom: 20px;
    height: 30px;
}

.boton-busqueda {
    font-weight: bold;
    width: 150px;
    border-radius: 10px 50px;
    color: rgb(63, 2, 248);
    border: solid
    rgb(255, 41, 3);
    background-color: rgb(242, 175, 175);
}

.boton-agregar {
    font-weight: bold;
    width: 30px;
    border-radius: 50%;
    color: rgb(249, 4, 4);
    border: none;
    background-color: rgb(7, 212, 252)
}

.crear-cuenta {
    width: 150px;
    color: rgb(241, 245, 243);
    border: 1px solid
    rgb(43, 43, 46);
    background-color: rgb(56, 144, 245);
    box-shadow: 20px 20px rgb(52, 51, 51);
}