h1 {
    background-color: rgb(238, 235, 240);
    color: blueviolet;
    font-size: 60px;
    text-align: left;
}

b   {
    color: rgb(254, 86, 14);

}

c   {
    color: rgb(18, 219, 230);
}

d   {
    color: rgb(236, 21, 208);
}

h2 {
    background-color: rgb(190, 232, 53);
    color: rgb(11, 152, 84);
    font-size: 50px;
    text-align: center;
}

h3 {
    background-color: rgb(61, 182, 203);
    color: rgb(197, 26, 154);
    font-size: 40px;
    text-align: right;
    text-decoration: underline;
}
