.container {
    width: 950px;
    height: 750px;
    background-color: cyan;
    margin: 0 auto;
    border: 10px;
    padding: 0px;
    /* padding: 40px;
    display:flexbox; */
    
} 

header {
    height: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
    font-weight: bolder;
    font-size: 40px;
    color: rgb(255, 6, 243);
    text-align: center;
}

section {
    padding-bottom: 20px;
    /* width: 3200px;
    height: 650px;
    padding-left:180px;
    margin-top: 30px;*/
} 

article {
    display: inline-block;
    /* width: 3100px;
    height: 650px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen {
    width:200px;
    height: 200px;
    /* padding: 20px; */
    border-style: double;
    margin-left: 30px;
}
    /* align-items: center; */
        /* max-height: 100%; */

/* .row {
    display: flexbox;
