.row {
    display: flex;
    width: 950px;
    height: 70px;

}
.col, .col-2, .col-3 {
    margin: 8px;
    padding: 8px;
    background-color: rgb(160, 48, 86);
    flex:1;
}

.col-2 {
    flex:2;
}

.col-3 {
    flex:3;
}